body {
    background-color: blue;
    color: #fff;
}

sidebar {
    display: block;
    clear: both;
}

footer {
    display: block;
    clear: both;
}

#game-board {
    display: block;
    width: 90%;
    height: 80%;
    position: relative;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

#obscurer {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.5);
}

#obscurer.active {
    display: block;
}

#single-jeopardy,
#double-jeopardy,
#final-jeopardy {
    display: none;
    height: 100%;
    width: 100%;
}

#single-jeopardy.active,
#double-jeopardy.active,
#final-jeopardy.active {
    display: block;
}

#answer-modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: blue;
    color: #fff;
    font-size: 4em;
    text-align: center;
    box-shadow: #333 0 0 10px;
}

#answer-modal.active {
    display: block;
}

#answer-modal p {
    position: absolute;
    padding: 5% 2%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 11;
    width: 100%;
    text-align: center;
}

#answer-modal div {
    position: absolute;
    width: 15%;
    height: 20%;
    font-size: 0.5em;
    cursor: pointer;
    z-index: 12;
}

#answer-modal #close-icon {
    top: 0;
    right: 0;
}

#answer-modal #cur-tile-value {
    top: 0;
    left: 0;
}

#answer-modal #cur-tile-question {
    bottom: 0;
    right: 0;
}

#game-board ol.categories {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    height: 20%;
    min-height: 60px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#game-board ol.categories li {
    display: block;
    float: left;
    width: 15%;
    height: 100%;
    min-height: 60px;
    border: solid #cacaca 1px;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1em;
    line-height: .8em;
}

#game-board ol {
    display: block;
    float: left;
    width: 15%;
    height: 80%;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

#game-board li {
    display: block;
    width: 100%;
    height: 19%;
    border: solid #cacaca 1px;
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #fff;
}

#game-board li {
    line-height: 60px;
    background-color: blue;
}

#game-board li.answered {
    color: transparent;
    background-color: #fff;
}

#game-board li .answer {
    display: none;
}

#game-board li .question {
    display: none;
}